<div class="container">
  <mat-card
    style="height: 600px; background-color: white; box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);">

    <mat-form-field>
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyFilter($event)"
        placeholder="Kategori listesinde arama yapmak istediğin kelimeyi yaz..." #input>
    </mat-form-field>
    <button mat-raised-button color="primary" style="float: right;" (click)="onAddCategory()">Kategori Ekle</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Kategori Adı</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="islemler">
        <th mat-header-cell *matHeaderCellDef> İşlemler </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="onEditCategory(element)">Düzenle</button>
          <button mat-raised-button color="warn" style="margin-left: 5px;"
            (click)="onDeleteCategory(element)">Sil</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{input.value}} kelimesi kategori listesinde bulunamadı.</td>
      </tr>
    </table>
  </mat-card>
</div>