mat-card {
  margin-top: 70px;
  text-align: center;
}

mat-form-field {
  display: block;
}

.prod-price {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #001d48;
}

table {
  width: 100%;
}

.example-container {
  height: 470px;
  max-width: 100%;
  overflow: auto;
}